BOT_TOKEN=0000000000000000:aaaaaaaaaaaaaaaabbbbbbbcccccc11111111
ALLOWED_USER_IDS=00000000,0000000
TZ=Europe/Moscow
MEDIA_DIR=/home/daniel/media
YTDLP_CONFIG_DIR=/home/daniel/docker/yt-dlp
BOT_DATA_DIR=/home/daniel/docker/bot-stack/bot-data
COOKIES_FILE=./cookies.txt
TELEGRAM_UPLOAD_TIMEOUT=600
TELEGRAM_CONNECT_TIMEOUT=60
TELEGRAM_POOL_TIMEOUT=60